@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/images/bcg\ image.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 715px;
    color: #ffffff;
    font-family: poppins;
}
.header{
    padding: 30px 60px;
    display: flex;

}
.logo h1{
    font-weight: 1500;
    font-size: 30px;
    margin-top: 15px;
    line-height: 1;
}
.navbar .list{
    margin-left: 400px;
    display: flex;
}
.list li{
    list-style-type: none;
    font-weight: 300;
    font-size: large;
}
.list .list-item-1{
    /* margin-bottom: 50px; */
    margin-left: 20px;
    margin-top: -10px;
}
.list .list-item,img{
    margin-left: 50px;
    margin-bottom: 20px;
}
.hr{
    position: absolute;
    top: 15%;
    width: 54%;
    left: 38.5%;
}
.phone-call{
    filter: invert(1);
    width: 30px;
}

.center{
    float: left;
    width: 85%;
    padding: 30px 90px;

}
.center .left{
    float: left;
    margin-top: 50px;
}
.center .left h1{

    width: 70%;
    line-height: 95px;
}
.center .left .desc{
    font-weight: 900;
    font-size: 80px;
}
.center .left button{
    font-weight: bolder;
    font-size: 25px;
    width: 20%;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
    border-radius: 50px;
    padding: 15px 10px;
    margin-top: 50px;
}
.cards .card-1{
    position: absolute;
    background-color: #ffffff2b;
    width: 18%;
    padding:20px 20px;
    top: 20%;
    left: 70%;
}
.cards .card-1 img{
    background-color: #ffffff;
    transform: scaleX(-1);
    padding: 5px 30px;
    border-radius: 50px;
    width: 30px;
    margin-left: 25px;
}
.line-1{
    position: absolute;
    border-right: 2px solid #ffffff69;
    height: 10%;
    right: 15%;
    top: 42.5%;
}
.circle-1{
    position: absolute;
    /* padding: 5%; */
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    top: 52%;
    right: 14.4%;
}
.cards .card-2{
    position: absolute;
    background-color: #ffffff2b;
    width: 18%;
    padding:20px 20px;
    top: 59%;
    left: 52%;
}
.cards .card-2 img{
    background-color: #ffffff;
    padding: 5px 30px;
    border-radius: 50px;
    width: 30px;
    margin-left: 25px;
}
.line-2{
    position: absolute;
    border-top: 2px solid #ffffff69;
    width: 6.5%;
    right: 21%;
    top: 73%;
}
.circle-2{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    top: 71.7%;
    right: 20%;
}